# Copyright (c) 2022 Duccio Breschi
# SPDX-License-Identifier: MIT

if SHIELD_SMALLWAVE_LEFT

config ZMK_KEYBOARD_NAME
    default "smallwave"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_SMALLWAVE_LEFT || SHIELD_SMALLWAVE_RIGHT
config ZMK_SPLIT
    default y
endif
